Temp
**.pidb
**.userprefs
/Library/
/WebPlayer/

/Build*.log

Assets/Plugins/*.bundle

/**/*.xcodeproj/xcuserdata
/**/*.xcodeproj/*.pbxuser
/**/*.xcodeproj/project.xcworkspace

/Builds/*
/Builder/*

.SyncID
.SyncIgnore
.SyncArchive

Thumbs.db
Thumbs.db.meta

**.pdb
**.pdb.meta
**.dll.mdb
**.dll.mdb.meta
**.suo
**.app
/obj
**.orig
**.orig.meta
StyleCop.Cache
**.user
**.apk
ExternalLibraries/*/bin
ExternalLibraries/*/obj
local.properties
Assembly-CSharp-Editor-firstpass-vs.csproj
Assembly-CSharp-Editor-firstpass.csproj
Assembly-CSharp-Editor-vs.csproj
Assembly-CSharp-Editor.csproj
Assembly-CSharp-firstpass-vs.csproj
Assembly-CSharp-firstpass.csproj
Assembly-CSharp-vs.csproj
Assembly-CSharp.csproj
/*.sln

Builder/config.json

Assets/Assembly-CSharp-Editor-firstpass.pidb.meta
Assets/Assembly-CSharp-Editor.pidb.meta
Assets/Assembly-CSharp-firstpass.pidb.meta
Assets/Assembly-CSharp.pidb.meta
Assets/UnityVS/Editor/UnityVS.VersionSpecific.dll*
UnityVS.*.*
Assets/UnityVS*
ProjectSettings/
